#wrapper footer .footer-main {
    background: #dc4a4a !important;
}

#wrapper div#jumbotron.background-image {
    background-repeat: repeat !important;
    background-size: auto !important;
}

#wrapper footer .footer-bottom a {
    color: #fff;
}
#wrapper footer .footer-bottom a:hover {
    color: $brand-primary;
}
