
<div class="col-xs-12">
    <img data-src="/assets/images/content/openAMP_combox_dark.svg"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        class="center-block lazyload img-responsive" alt="Open AMP Logo" />
</div>
<div class="col-xs-12 col-md-4 no-padding">
    <p class="center-block text-white">
        OpenAMP (Open Asymmetric Multi-Processing) seeks to standardize the interactions between operating environments in a
        heterogeneous embedded system through open source solutions for Asymmetric MultiProcessing (AMP).
    </p>
</div>
<div class="col-xs-12 no-padding">
    <p id="buttons">
        <a class="btn btn-linaro-home" href="https://github.com/OpenAMP/open-amp" role="button" target="_blank">
            View on Github <i class="fa fa-github"></i>
        </a>
    </p>
</div>
