@import "tailwindcss";

@source "../../node_modules/tw-elements";

@plugin "@tailwindcss/typography";
@plugin "tw-elements/plugin.cjs";

@theme {
  --color-secondary: rgb(87, 87, 87);
  --color-openampred: #dc4a4a;
  --color-black: #212529;

  --font-sans: "Lato", system-ui, sans-serif;
}


html {
  color: #212529
}

@layer base {
  h1 {
    width: auto;
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    width: auto;
    margin-bottom: 1rem;
    text-align: center;
  }
  .card {
    background-color: var(--color-white);
    border-radius: var(--radius-3xl);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }

  a {
    @apply text-openampred;
  }
  section {
    @apply p-4 max-w-4xl mx-auto;
  }
}

@layer utilities {
  .nav-hover {
    &:before {
      @apply w-0 lg:bg-openampred content-[""] bottom-0 h-1 block absolute left-[50%] duration-150;
    }
    
    &:hover:before {
        @apply w-full left-0;
    }
  }
}
