---
import { getEntry } from "astro:content";
import Hero from "../components/Governance/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import BaseHead from "../components/BaseHead.astro";
import HomeContent from "../components/Home/HomeContent.astro";

const conduct = await getEntry("pages", "conduct");
const { data, render }: any = conduct;
const { Content } = await render();
console.log(data);
---

<html lang="en">
  <BaseHead />
  <MainLayout>
    <Hero data={data} />
    <!-- <HomeContent data={data} /> -->
    <section class="text-left decoration-0">
      <Content />
    </section>
  </MainLayout>
</html>
