---
import { getEntry } from "astro:content";
import Hero from "../components/Home/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import BaseHead from "../components/BaseHead.astro";
import HomeContent from "../components/Home/HomeContent.astro";

const homepage = await getEntry("pages", "homepage");
const { data, render }: any = homepage;
const { Content } = await render();
---

<html lang="en">
  <BaseHead />
  <MainLayout>
    <Hero data={data} />
    <!-- <HomeContent data={data} /> -->
    <section class="text-lg text-center decoration-0">
      <Content />
    </section>
  </MainLayout>
</html>
