---
import { getEntry } from "astro:content";
import Hero from "../components/Home/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import BaseHead from "../components/Head/BaseHead.astro";

const homepage = await getEntry("pages", "homepage");
const { data, render }: any = homepage;
const { Content } = await render();
---

<html lang="en">
  <BaseHead />
  <MainLayout>
    <Hero data={data} />

    <section class="text-center decoration-0 prose-xl mb-8">
      <Content />
    </section>
  </MainLayout>
</html>
