---
import { getCollection, getEntry } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import BaseHead from "../components/BaseHead.astro";
import NewsItem from "../components/News/NewsItem.astro";
import FirstItem from "../components/News/FirstItem.astro";

const blogs = await getCollection("blogs");
console.log(blogs);
---

<html lang="en">
  <BaseHead />
  <MainLayout>
    <section class="max-w-7xl mx-auto">
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-12">
        <FirstItem {...blogs[0]} />
        {blogs.slice(1).map((blog) => <NewsItem {...blog} />)}
      </ul>
    </section>
  </MainLayout>
</html>
