---
import { getCollection } from "astro:content";
import BaseHead from "../../../components/BaseHead.astro";
import BlogsContainer from "../../../components/News/BlogsHero.astro";
import MainLayout from "../../../layouts/MainLayout.astro";

const tags = await getCollection("tags");
const sortedTags = tags.sort();

const buttonsPerLine = 10;
const lines = Math.ceil(sortedTags.length / buttonsPerLine);
---

<html>
  <BaseHead />
  <MainLayout>
    <BlogsContainer />
    <div class="flex flex-col items-start p-8 md:p-12 max-w-[1100px] mx-auto">
      <!-- Render Buttons in Multiple Lines -->
      <div class="flex flex-wrap">
        {
          sortedTags.map((tag) => (
            <button
              onclick={`window.location.href='/news/tags/${tag.slug}/';`}
              class="bg-[#575757] rounded-md cursor-pointer text-white p-3 m-2"
            >
              {tag.slug[0].toUpperCase() + tag.slug.slice(1)}
            </button>
          ))
        }
      </div>
    </div>
  </MainLayout>
</html>
