---
import { getCollection } from "astro:content";
import BaseHead from "../../components/Head/BaseHead.astro";
import Header from "../../components/Header.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Post from "../../components/Posts/Post.astro";
import PostHeader from "../../components/Posts/PostHeader.astro";

export async function getStaticPaths({}) {
  const news = await getCollection("news");
  const paths = news.map((blog) => ({
    params: {
      blog: blog.slug,
    },
    props: {
      blog,
    },
  }));
  return paths;
}

const { blog } = Astro.props;
const { Content } = await blog.render();
---

<html>
  <BaseHead
    title={blog.data.title + " - OpenAMP Project"}
    description={blog.data.description}
    type="article"
  />

  <MainLayout>
    <Header>
      <div class="h-[100px]"></div>
    </Header>
    <div class="text-left p-4">
      <h1 class="text-[2em] font-medium mx-auto max-w-5xl px-2 md:px-8">
        {blog.data.title}
      </h1>
    </div>
    <PostHeader data={blog} />

    <div
      class="prose-xl max-w-5xl first-line:text-left p-4 md:p-12 blog-content mx-auto"
    >
      <Content />
    </div>
    <Post />
  </MainLayout>

  <style is:global lang="scss">
    .blog-content {
      ul {
        list-style-type: disc;
        li {
          margin-left: 40px;
        }
      }

      blockquote {
        background-color: #ededed;
        border-left: 8px solid #dc4a4a;
        margin-top: 10px;
        margin-bottom: 10px;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;

        color: #555555;
        margin-left: 20px !important;
        font-style: italic !important;
        font-size: 20px;
      }

      blockquote:before {
        content: "\201C";
        font-family: Serif;
        color: #dc4a4a;
        font-size: 5em;
        left: 10px;
        margin-right: 25px;
      }
    }
  </style>


</html>
