---
import { getCollection } from "astro:content";
import BaseHead from "../../components/Head/BaseHead.astro";
import FirstItem from "../../components/News/FirstItem.astro";
import NewsItem from "../../components/News/NewsItem.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import dayjs from "dayjs";

const blogs = await getCollection("news");

const blogLists = blogs
  .sort((a, b) => dayjs(b.data.date).diff(dayjs(a.data.date)))
  .slice(0, 10);
---

<html lang="en">
  <BaseHead
    title="News - OpenAMP Project"
    description="Find the latest OpenAMP project news here."
  />
  <MainLayout>
    <section class="container max-w-7xl mx-auto">
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-12 mb-4">
        <FirstItem data={blogLists[0].data} />
        {blogLists.slice(1).map((blog) => <NewsItem {...blog} />)}
      </ul>
    </section>
  </MainLayout>
</html>
