---
import Header from "../Header.astro";
import { Image } from "astro:assets";
import logoImage from "../../assets/openAMP_combox_dark.svg";

const { data } = Astro.props;
---

<Header>
  <Image height={300} src={logoImage} alt="openAMP Logo" />

  <p class="leading-normal text-center max-w-xl text-xl mb-4">
    {data.main_body}
  </p>
  <a
    onclick="
    window.open('https://github.com/OpenAMP', '_blank')
    "
    class="bg-openampred mt-2 p-4 rounded text-md text-center transition ease-in-out hover:bg-red-600 text-white"
    >View on Github</a
  >
</Header>
