---
import heroImage from "../../assets/triangle_background.png";
import Header from "../Header.astro";

const { data } = Astro.props;
console.log(data);
---

<Header>
  <h1 class="text-white text-xs">test</h1>
</Header>
