---

---

<head>
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
  <link
    rel="stylesheet"
    href="../../src/cookieconsent.css"
    media="print"
    onload="
    this.media = 'all'
    "
  />
  <title>Open AMP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
</head>
