---
import { getCollection, getEntry } from "astro:content";

const blogs = await getCollection("blogs");
---

<div class="h-full w-full p-8 relative">
  <button
    onclick="
    window.open('/news/tags')
    "
    class="text-white cursor-pointer bg-[#575757] p-2 rounded ml-8"
    >View all tags</button
  >
</div>
