---
import { getEntry } from "astro:content";
import NavLinks from "./NavLinks";
import { Image } from "astro:assets";
import logo from "../../assets/openAMP_LOGOMARKX.png";
const {
  data: { links },
}: any = await getEntry("components", "nav");
---

<nav
  class="bg-white px-10 py-4 align-top fixed top-0 left-0 right-0 z-10 h-16 w-full"
>
  <div
    class="max-w-[1200px] mx-auto justify-between flex flex-row items-center"
  >
    <a href="/" class="text-xl md:text-2xl">
      <Image class="w-10" src={logo} alt="logo" />
    </a>
    <NavLinks pages={links} client:load />
  </div>
</nav>
